git_projects
config/docker/env

config/arrnounced/*
!config/arrnounced/*example*
!config/arrnounced/example*

config/deluge_control/*
!config/deluge_control/*example*
!config/deluge_control/example*

config/docker/scripts/*
!config/docker/scripts/*.sh
!config/docker/scripts/postgres
config/docker/scripts/postgres/*
!config/docker/scripts/postgres/example
